<h1>Portfolio</h1>
<p>Hi! I am a video game developer looking to apply my unique background in psychology, data analysis, 
research, and software development. Currently, I am seeking a position in the gaming industry. 
As a life-long lover of learning, I'm constantly looking to expand my skill set. This lead me to enroll 
in We Can Code IT, an intensive software development bootcamp where I learned from expert instructors and intensive 
hands-on projects. I planned, designed, and developed professionally programmed applications in both collaborative 
team-based and independent settings, and demonstrated the proficiency to earn Software Development Certificate. </p>
